@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Epilogue:wght@300&family=Jura:wght@300&display=swap');

body {
  background: #008080;
}

span{
    font-family: "Jura";
    color: white;
}

.development {
  text-align: center;  
  font-size: xxx-large;
  display: flex;
  flex-direction: column;
  top: 50%;
}