@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Epilogue:wght@300&family=Jura:wght@300&display=swap');

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body {
  background: #008080;
}

h1{
  font-family: "Jura";
  color: white;
}

h2{
  font-family: "Jura";
  color: white;
}


header {
  display: flex;
  justify-content: space-between;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}

.list {
  margin-bottom: 15px;
  padding: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  background: #00CED1;
  letter-spacing: 0.2rem;
  box-shadow: 2px 2px 8px rgb(177,177,177);
  transform:  scale(1);
  transition: all 0.2s;

}

.list:hover {
  background: #81bfaa;
  transform: scale(1.05);

}

#side-checkbox {
  display: none;
}
.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #186060;
  transition: all 0.5s;   
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0,0,0,0.4);
  color: #FFF;
  padding: 40px 20px;
}
.side-title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}
.side-button-1-wr {
  text-align: right; 
}
.side-button-1 {
  display: inline-block;
}
.side-button-1 .side-b {
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  line-height: 10px;
  padding: 6px 10px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase; 
  font-family: 'Uni Sans Thin';
  /*background: white;*/
  cursor: pointer; 
  border: 2px solid white;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
  background: #43DF5D;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
  background: red;
}
.side-button-1 .side-b:before {
  top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}
.side-button-1 .side-close {
  display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
  display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
  display: block;
}
#side-checkbox:checked + .side-panel {
  left: 0;
}
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;  
  transition: all 280ms ease-in-out;  
}
.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);  
  color: #FFF;
}

.company {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.catalogue {
  display: flex;
  flex-direction: row;
}

.item_box {
  background-color: transparent;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s linear;
  border-radius: 10px;
}

.item_box:hover {
  background-color: #186060;
  transform: scale(1);
}

#timer {
  display: flex;
}

.round-rect {
  min-width: 80px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 12%;
  background-color: cadetblue;
  color: white;
  font-family: Comfortaa;
  margin-right: 4px;
  text-align: center;
  padding-top: 10px;
}

.round-rect div {
  font-size: x-large;
}

.registration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.registration p {
  font-family: "Epilogue";
  color: white;
  min-width: 100px;
  max-width: 500px;
  min-height: 100px;
  max-height: 500px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input input {
  width: 300px;
  height: 25px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  margin-bottom: 5px;
}


.item_box button {
  border-radius: 10px;
  border: medium none;
  background-image: none; 
  background: transparent;
  float: center;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-family: "Comfortaa";
  position: relative;
  cursor: pointer;
  line-height: 1; 
  text-decoration: none;
  display: inline-block;
}

.item_box button:after {
    display: block;
    content: "";
    background-color: #07aa19;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.item_box button:hover:after,
.item_box button:focus:after {
    width: 100%;
}

.my_modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index:1050;
  display:none;
  margin:0;
  padding:0;
  }

.my_modal:target{
  display:block;
  overflow-y:auto;
}

.my_modal-dialog{
  position:relative;
  width:auto;
  margin:10px;
  }

@media (min-width:576px) {
  .my_modal-dialog
{
  max-width:460px;
    margin:30px auto;
}}

.my_modal-content{
  position:relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  background-color:#fff;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:1px solid rgba(0,0,0,.2);
  border-radius:6px;
  outline:0;
  }

@media (min-width:768px){
  .my_modal-content{
    -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
    box-shadow:0 5px 15px rgba(0,0,0,.5);
}}

.my_modal-header{
  display:block;
  padding:14px 14px 4px;
}

.my_modal-title{
  margin-top:0;
  margin-bottom:0;
  line-height:1.5;
  font-size:1.25rem;
  font-weight:500;
  border-bottom:1px solid #d4d4d4;
}

.close{
  padding:1px 5px 0;
  border:1px solid #000;
  border-radius:50%;
  font-family:sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  color:#000;
  text-shadow:0 1px 0 #fff;
  opacity:.5;
  text-decoration:none;
  top:4px;
  right:4px;
  position:absolute;
  }

  .close:focus,
  .close:hover{
    color:#000;
    text-decoration:none;
    cursor:pointer;
    opacity:.75;
  }

  .my_modal-body{
    position:relative;
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:15px;
    overflow:auto;
  }

.my_modal .my_modal-body button {
  border-radius: 10px;
  border: 50px;
  color: black;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  }


